In [1]:
import pandas as pd

In [171]:
dataframe = pd.read_csv('All Payments Colorado 2018.csv')

df = dataframe[['award_description','federal_action_obligation','recipient_county_name', 'cfda_title', 'business_types_description']]

display(df.head())

,award_description,federal_action_obligation,recipient_county_name,cfda_title,business_types_description
0,AGGREGATE SUPPLEMENTAL SECURITY INCOME (SSI) B...,116.00,SAN JUAN,SUPPLEMENTAL SECURITY INCOME,INDIVIDUAL
1,AGGREGATE RETIREMENT INSURANCE (RI) BENEFITS,958295.00,COSTILLA,SOCIAL SECURITY RETIREMENT INSURANCE,INDIVIDUAL
2,AGGREGATE AWARD. AGGREGATION CARRIED OUT TO P...,0.00,SUMMIT,SOCIAL INSURANCE FOR RAILROAD WORKERS,INDIVIDUAL
3,AGGREGATE AWARD. AGGREGATION CARRIED OUT TO P...,44784.61,GARFIELD,SOCIAL INSURANCE FOR RAILROAD WORKERS,INDIVIDUAL
4,AGGREGATE RETIREMENT INSURANCE (RI) BENEFITS,4304259.00,EAGLE,SOCIAL SECURITY RETIREMENT INSURANCE,INDIVIDUAL

In [136]:
display(df['award_description'].mode())

0    PRICE LOSS COVERAGE PROGRAM
dtype: object

In [161]:
top = df['cfda_title'].value_counts()
print("------- TOP 5 TITLES -------")
display((top[:5]))

print("------- BOTTOM 5 TITLES -------")
print(top[len(top)-5:len(top)])

------- TOP 5 TITLES -------

PRICE LOSS COVERAGE                        27340
CONSERVATION RESERVE PROGRAM               17582
FEDERAL PELL GRANT PROGRAM                  9628
SOCIAL INSURANCE FOR RAILROAD WORKERS       2247
LIVESTOCK FORAGE PROGRAM-2014 FARM BILL     1537
Name: cfda_title, dtype: int64

------- BOTTOM 5 TITLES -------
HEALTH PROFESSIONS PRE-GRADUATE SCHOLARSHIP PROGRAM FOR INDIANS                                            1
NATIONAL INSTITUTE ON MINORITY HEALTH AND HEALTH DISPARITIES (NIMHD) EXTRAMURAL LOAN REPAYMENT PROGRAMS    1
SUPPLEMENTAL REVENUE ASSISTANCE PROGRAM                                                                    1
DISADVANTAGED HEALTH PROFESSIONS FACULTY LOAN REPAYMENT PROGRAM (FLRP)                                     1
COTTON GINNING COST SHARE PROGRAM                                                                          1
Name: cfda_title, dtype: int64

In [153]:
top = df['award_description'].value_counts()
print(len(top))
print()
print(top[:1])

143

PRICE LOSS COVERAGE PROGRAM    18217
Name: award_description, dtype: int64

In [145]:
map_reduce1 = df.groupby(by=['award_description'], as_index = False)['federal_action_obligation'].sum()

# object is a DF
display(map_reduce1.head(10))
print()

# display(type(map_reduce1['federal_action_obligation'][0]))

map_reduce1['total obligations'] = map_reduce1['federal_action_obligation'].astype(int)

map_reduce1.drop(['federal_action_obligation'], 1, inplace=True)

display(map_reduce1[map_reduce1['award_description'].str.contains('PRICE LOSS COVERAGE PROGRAM')])

  award_description  federal_action_obligation
0     "CFDA: 15.026                   16010.00
1        A07AV00062                   26001.62
2        A07AV00063                       0.00
3        A08AV00056                  162423.52
4        A08AV00057                  500000.00
5        A09AV00235                       0.00
6        A09AV00236                  125680.39
7        A09AV00237                       0.00
8        A11AV00287                       0.00
9        A11AV00306                       0.00

               award_description  total obligations
112  PRICE LOSS COVERAGE PROGRAM          104303442

In [152]:
map_reduce2 = df.groupby(by=['recipient_county_name'], as_index = False)['federal_action_obligation'].sum()

map_reduce2['total obligations'] = map_reduce2['federal_action_obligation'].astype(int)

map_reduce2.drop(['federal_action_obligation'], 1, inplace=True)

display(map_reduce2.head(7))

display(map_reduce2[map_reduce2['recipient_county_name'].str.contains('DENVER')])

  recipient_county_name  total obligations
0                 ADAMS         2215411994
1               ALAMOSA           58867547
2              ARAPAHOE         1799096810
3             ARCHULETA           66181307
4                  BACA           38192436
5                  BENT           21479803
6               BOULDER          912185467

   recipient_county_name  total obligations
16                DENVER         2102676122

In [170]:
map_reduce3 = df.groupby(by=['business_types_description'], as_index = False)['federal_action_obligation'].sum()

map_reduce3['total obligations'] = map_reduce3['federal_action_obligation'].astype(int)

map_reduce3.drop(['federal_action_obligation'], 1, inplace=True)

display(map_reduce3.head(10))

                          business_types_description  total obligations
0                        CITY OR TOWNSHIP GOVERNMENT          159581163
1  FOR-PROFIT ORGANIZATION (OTHER THAN SMALL BUSI...          111803454
2                        INDEPENDENT SCHOOL DISTRICT            8265926
3  INDIAN/NATIVE AMERICAN TRIBAL DESIGNATED ORGAN...            5729141
4  INDIAN/NATIVE AMERICAN TRIBAL GOVERNMENT (FEDE...            7128162
5                                         INDIVIDUAL         9173109363
6  NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...            6377854
7                                              OTHER         1329478314
8            PRIVATE INSTITUTION OF HIGHER EDUCATION           49131985
9  PUBLIC/STATE CONTROLLED INSTITUTION OF HIGHER ...          131153016