# Which group can hold its breath the longest?

A slightly dangerous and more-than-slightly silly example in two-sample t-tests and ANOVA

In [1]:
import numpy as np
import pandas as pd
import math
import scipy.stats as stats
import statsmodels.api as sm 
import matplotlib.pyplot as plt
%matplotlib inline

/Users/tony/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [9]:
df = pd.read_csv('holding_breath.csv')
df.head()

,do octopuses breathe???,Go Data Science,Keyboard Slappers,Octopus Eaters,take your breath away,Anon. Wolverine,The Boys,The Bold and the Breathless,Group 10 TAKEN,Group 11 taken,Taken Group,back,that one group,Group CU swim
0,41.00,40.0,35.0,40.0,35.80,64.3,41.0,30.0,38.0,65.0,14.36,41.0,31.48,65.0
1,42.00,55.0,25.0,60.0,41.62,55.8,69.0,38.0,46.0,23.0,24.35,30.0,50.17,166.0
2,25.42,61.0,73.0,87.0,54.53,63.0,32.0,32.0,62.0,NaN,NaN,130.0,48.27,NaN
3,51.00,104.0,NaN,NaN,59.68,60.0,29.0,NaN,54.0,NaN,NaN,NaN,NaN,NaN
4,78.00,100.0,NaN,NaN,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ANOVA F-test

$$F = \dfrac{SSB/df_{SSB}}{SSW/df_{SSW}}$$

In [10]:
df.shape

(8, 14)

In [3]:
I = len(df.columns)

In [13]:
N = np.sum(df.count())

In [14]:
df_SSB = I-1
df_SSW = N-I

In [15]:
df_SSB, df_SSW

(13, 37)

$$SSB = \sum_{i=1}^I n_i (\bar{y}_i - \bar{\bar{y}})^2$$

In [18]:
grand_mean = df.mean().mean(); print(grand_mean)

54.14404761904762

In [23]:
SSB = 0
for grp in df.columns:
    SSB += df[grp].count()*(df[grp].mean() - grand_mean)**2
print(SSB)

16898.53836054422

$$SSW = \sum_{i=1}^I \sum_{j=1}^{n_i} (y_{ij} - \bar{y}_i)^2$$

In [24]:
SSW = 0
for grp in df.columns:
    for j in range(df[grp].count()):
        SSW += (df[grp][j] - df[grp].mean())**2
print(SSW)

23284.745941666664

In [25]:
# test statistic:

F = (SSB/df_SSB)/(SSW/df_SSW)
print(F)

2.065551415924045

In [26]:
pval = 1 - stats.f.cdf(F, dfn=df_SSB, dfd=df_SSW)
print(pval)

0.042091275630777414

4% probability of observing the differences we saw (or anythign more extreme), if H0 is true (in a world where there is no difference between the groups)

## Is there a significant difference between two groups?

two sample t-test:

H0: $\mu_1 = \mu_2$

H1: $\mu_1 \neq \mu_2$

In [27]:
df.columns

Index(['do octopuses breathe???', 'Go Data Science', 'Keyboard Slappers',
       'Octopus Eaters', 'take your breath away', 'Anon. Wolverine',
       'The Boys', 'The Bold and the Breathless', 'Group 10 TAKEN ',
       'Group 11 taken', 'Taken Group', 'back', 'that one group',
       'Group CU swim'],
      dtype='object')

In [30]:
stderr1 = df[grp1].std(ddof=1)
print(stderr1)

16.549856926442423

In [31]:
grp1 = 'do octopuses breathe???'
grp2 = 'Anon. Wolverine'
mu1 = df[grp1].mean()
mu2 = df[grp2].mean()
stderr1 = df[grp1].std()
stderr2 = df[grp2].std()
n1 = df[grp1].count()
n2 = df[grp2].count()

In [33]:
t = (mu1-mu2)/np.sqrt(stderr1**2/n1 + stderr2**2/n2)
print(t)

-2.159983301008341

In [34]:
pval = 2*stats.t.cdf(t, df=(n1+n2-2))
print(pval)

0.053705850819399596

In [ ]:
df = (n1-1) + (n2-1) = n1+n2-2